* {
  box-sizing: border-box;
}
body {
  margin: 0% 2%;
}
.header-logo {
  display: inline-block;
}
header img {
  display: inline-block;
  width: 100px;
  margin: 20px auto;
}
.header-text {
  float: right;
  margin-top: 27px;
  margin-left: 5px;
} 
h1 {
  font-family: 'Open-Sans', sans-serif;
  font-weight: 1000;
  font-style: italic;
  font-size: 28px;
}
h1 strong {
  font-size: xx-large;
  font-family: 'Faster One', cursive;
}
h2 {
  font-size: x-large;
  text-align: center;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}
h4 {
  font-size: large;
}
aside {
  float: left;
  height: 600px;
  width: 250px;
  background-color: #ddd;
  margin-right: 10px;
  overflow-y: scroll;
}
.products {
  display: inline-block;
  height: 600px;
  width: 800px;
  background-color: #aaa;
}
.product-images img {
  height: 300px;
  width: 250px;
  background-color: #ddd;
  margin-left: 10px;
  margin-bottom: 50px;
  margin-top: 10px;
  border-radius: 15px;
}
.product-images img:hover {
  transition: 0.3s;
  box-shadow: 0px 4px 6px #000000;
  border-bottom: 3px solid #000000;
}
article {
  background-color: #ddd;
  max-width: 780px;
  margin: 10px;
  overflow-y: scroll;
  max-height: 220px;
}
li {
  margin-bottom: 10px;
}
footer {
  max-width: 1060px;
}
#select-graph {
  display: block;
  margin: 20px 38%;
  visibility: hidden;
}
footer a {
  color: #000;
  margin: 10px;
  text-decoration: none;
  padding: 4px 13px 10px;
  border-radius: 50%;
  background-color: #ddd;
  border: 2px solid #000;
  font-size: 30px;
  font-weight: bold;
}
footer a:hover {
  background-color: #aaa;
}
footer h2 {
  display: inline;
}
#percentage-chart {
  visibility: hidden;
}
#results-pie {
  visibility: hidden;
}
.canvas-block {
  display: block;
  margin: 0px;
}